body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pixel-board{
    width: 960px;
    height: 960px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

.pixel{

}