body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pixel-board{
    width: 960px;
    height: 960px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pixel-row{
    display: flex;
    flex: 1;
}

.pixel{
    outline: solid 1px blue;
    flex: 1;
}

#reset-button{
    margin: 50px;
    width: 200px;
    height: 70px;
}